@import url("mainwrapper.css");
@import url("headerwrapper.css");

* {
  font-family: "Signika", sans-serif;
  font-size: 1.25rem;
}
main{
  margin-top: 1em;;
}
.bodywrapper {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: lightgray;
  /* border: 2px solid black; */
}
.headerwrapper {
  background-color: lightsalmon;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding:.75em;
}
a:link {
  color: black;
}
a:visited {
  color: darkolivegreen;
}
a:hover {
  color: cornflowerblue;
}
